/* ================================= 
  Base Styles
==================================== */

/* If I didn't already reference "css/normalize.css" in "index.html", I'd use:
@import url('http://necolas.github.io/normalize.css/7.0.0/normalize.css'); */


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* ---- Layout Containers ---- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {


/* ---- Float Clearfix for floats, if used --- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

}