/* ================================= 
  Base Styles
==================================== */

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* ---- Layout Containers ---- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {


/* ---- Float Clearfix for floats, if used --- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

}